/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url('/images/cover-image-dark.png');
  --accent-color: #ff0070;
  --main-color: #DB00FF;
  --text-with-background: #000028;
  --main-text-color: #F1B2CE;
  --shade-color: #ff0070;
  --background-color: #ff0070;
  --shadow-color-in-main-text: #ff0070;
  --font: IBM Plex Mono;
}

.theme_dark .REC-element {
  display: block;
}

.theme_dark .decor-circle {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-color: #ff0070;
  --main-color: #DB00FF;
  --text-with-background: #000028;
  --main-text-color: #F1B2CE;
  --shade-color: #ff0070;
  --background-color: #ff0070;
  --shadow-color-in-main-text: #ff0070;
  --font: IBM Plex Mono;
  }
  .page {
    background-image: url('/images/cover-image-dark.png');
  }

  .REC-element {
    position: absolute;
    top: 22px;
    right: 28px;
    height: 25px;
    color: var(--accent-color);
    font-family: var(--font, monospace);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 25px; /* 138.889% */
    text-align: right;
  }
  
  .decor-circle {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--accent-color);
    background-color: var(--accent-color);
  }

  @media (width < 376px) {
    .REC-element {
      top: 10px;
      right: 38px;
    }
  
    .decor-circle {
      top: 20px;
      right: 20px;
    }
  }
}
