/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --main-color: #DB00FF;
  --text-with-background: #000028;
  --main-text-color: #F1B2CE;
  --shade-color: #ff0070;
  --background-color: #ff0070;
  --font: IBM Plex Mono;
  --shadow-color-in-main-text: #ff0070;
}